= form_for @progress_bar do |f|
  - if @progress_bar.errors.any?
    #error_explanation
      %h2= "#{pluralize(@progress_bar.errors.count, "error")} prohibited this progress_bar from being saved:"
      %ul
        - @progress_bar.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .actions
    = f.submit 'Save', :class => 'btn'
