%h1 Listing tasks

%table
  %tr
    %th Title
    %th Duedate
    %th Body
    %th Status
    %th
    %th
    %th

  - @tasks.each do |task|
    %tr
      %td= task.title
      %td= task.duedate
      %td= task.body
      %td= task.status
      %td= link_to 'Show', progress_bar_task_path(@progress_bar,task)
      %td= link_to 'Edit', edit_progress_bar_task_path(@progress_bar, task)
      %td= link_to 'Destroy', progress_bar_task_path(@progress_bar, task), :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Task', new_progress_bar_task_path
