
%h1
  = @task.title
%hr

%p.pull-right

  = @task.duedate
  %br
    %i{ :class => "#{marker_icon(@task)}" }
      &nbsp;#{@task.status_descr()}
%br
%br
%p
  = raw @task.body


- if logged_in? then
  = link_to 'Edit', edit_progress_bar_task_path(@progress_bar, @task)